# Ignorer les fichiers sensibles
/.env
/.env.local
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

# Ignorer les dépendances générées
/vendor/
/node_modules/

# Ignorer les caches et fichiers temporaires
/var/
/build/
/.cache/

# Ignorer les fichiers spécifiques aux outils de développement
.idea/
/.vscode/
/phpunit.result.cache

# Ignorer les assets compilés
/public/assets/

# Ignorer les fichiers logs
*.log
