<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid text">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#header">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Parcours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#carousel">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/jérémy-remy-66b445298/" target="_blank"><i class="fab fa-linkedin-in socials"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Kyoma-dev" target="_blank"><i class="fab fa-github socials"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:dev.kyoma@gmail.com" target="_blank"><i class="fas fa-envelope socials"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset('files/CV.pdf') }}" download="CV_REMY_JEREMY.pdf" target="_blank">
                        <i class="fa-solid fa-file"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>