body {
    color: #ffffff; /* Texte blanc */
    background-color: #000000 !important; /* Fond noir */
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.content-visible {
    background-color: #ffffff !important;
    color: #000000; /* Texte noir sur fond blanc */
}

/* Styles pour le logo */
#logo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Fond noir pour le logo */
    z-index: 10;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#logo-container.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Empêche toute interaction */
}

#logo {
    max-width: 10%; /* Taille initiale */
    max-height: 10%;
    transition: all 0.1s ease-out;
}

/* Contenu masqué par défaut */
#content {
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Contenu visible */
#content.visible {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.btn {
    background-color: #AFEE85;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8fc46d;
}

/* Styles pour la section "Qui suis-je ?" */
#about {
    background-color: #ffffff;
    padding: 40px 20px;
    margin-top: 150px; /* Marge en haut de la section */
}

#about img {
    max-width: 50%;
    border-radius: 25% !important;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1rem;
    color: #555555;
    margin-bottom: 20px;
}

#about .btn-primary {
    background-color: #AFEE85;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#about .btn-primary:hover {
    background-color: #8fc46d;
}

/* Styles pour la section "Mes services" */
/* Section Mes services */
#services {
    max-width: 100% !important; /* Supprime la limite définie par Bootstrap */
    padding: 60px 0; /* Conservez les espacements */
    margin: 0; /* Assurez l'alignement avec les bords */
    background-color: #f4fbf8; /* Ajoutez votre couleur de fond */
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100% !important; /* Supprime la limite définie par Bootstrap */
    }
}



.service-card {
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 15px; /* Espacement entre les cartes */
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.service-card .icon-wrapper {
    width: 70px;
    height: 70px;
    background-color: #AFEE85;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
}

.service-card .service-icon {
    font-size: 2rem;
    color: #ffffff;
}

.service-card h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 20px;
}

.service-card .btn-outline-primary {
    border: 1px solid #AFEE85;
    color: #AFEE85;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service-card .btn-outline-primary:hover {
    background-color: #8fc46d;
    color: #ffffff;
}


/* Section Mon approche */
#approach {
    background-color: #ffffff;
    padding: 60px 20px;
}

.section-title {
    font-size: 3rem;
    color: #333333;
    font-weight: bold;
}

#approach ul {
    padding-left: 0;
    font-size: 1.1rem;
    color: #555555;
}

#approach ul li {
    margin-bottom: 15px;
    line-height: 1.6;
}

#approach ul li strong {
    color: #AFEE85; /* Accent couleur */
}

#approach img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Boîte d'appel à l'action */
.callout-box {
    background-color: #f4fbf8;
    border: 1px solid #ececec;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.callout-box h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
}

.callout-box p {
    font-size: 1.1rem;
    color: #555555;
    margin-bottom: 20px;
}

.callout-box .btn-primary {
    background-color: #AFEE85;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.callout-box .btn-primary:hover {
    background-color: #8fc46d;
}


.pricing-table {
    display: flex;
    justify-content: center; /* Centrer les cartes horizontalement */
    gap: 20px; /* Ajoute un espace fixe entre les cartes */
    flex-wrap: wrap; /* Empile les cartes sur les petits écrans */
    overflow-x: auto; /* Permet de scroller horizontalement si nécessaire */
    padding-bottom: 20px;
}

/* Cartes de tarifs */
.pricing-card {
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* Largeur complète avec une marge de 20px */
    max-width: 400px; /* Empêche les cartes d’être trop larges sur grand écran */
    margin: 10px auto; /* Centre les cartes sur petits écrans */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left; /* Alignement du texte à gauche */
}

.pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

/* Titre des cartes */
.pricing-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
}

/* Texte */
.pricing-card p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 10px;
}

/* Liste dans les cartes */
.pricing-card ul {
    list-style-type: none; /* Supprime les puces */
    padding-left: 0; /* Supprime l'indentation */
    margin: 0; /* Supprime les marges par défaut */
}

.pricing-card ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555555;
    line-height: 1.6; /* Ajoute un peu d'espacement entre les lignes */
}

/* Bouton */
.pricing-card .btn {
    display: inline-block;
    margin-top: 15px;
    background-color: #AFEE85;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.pricing-card .btn:hover {
    background-color: #8fc46d; /* Couleur plus foncée au survol */
}
/* Section pleine page */
#contact-form {
    position: relative;
    height: 100vh; /* Ajuste la hauteur automatiquement sur petits écrans */
    width: 100%; /* Pleine largeur */
    padding: 20px 0; /* Ajoute un espacement sur les petits écrans */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Empile les éléments verticalement */
    text-align: center; /* Centre le texte */
    overflow: hidden;
    z-index: 1;
}

/* Arrière-plan dynamique avec un dégradé animé */
#contact-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #f4fbf8, #AFEE85, #fdf9f7);
    background-size: 200% 200%; /* Taille du dégradé */
    animation: gradientMove 8s ease infinite;
    z-index: -1; /* Derrière le formulaire */
}

/* Animation du dégradé */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Conteneur pour Particles.js */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Derrière le contenu principal */
}

/* Contenu principal */
.contact-content {
    z-index: 10;
    background: rgba(255, 255, 255, 0.95); /* Fond semi-transparent */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px; /* Largeur maximale */
    width: 100%; /* S'adapte à la largeur disponible */
}

/* Style des champs de formulaire */
.typeform-style .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.typeform-style label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.typeform-style {
    min-width: 1000px;
}

.typeform-style .form-group label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 5px;
}

.typeform-style .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; /* Empêche les débordements */
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.typeform-style .form-control:focus {
    border-color: #66b830;
    box-shadow: 0 0 5px rgba(106, 183, 151, 0.5);
    outline: none;
}

.typeform-style .btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #5BB61F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.typeform-style .btn-primary:hover {
    background-color: #8fc46d;
    transform: translateY(-2px);
}

#contact-form h2.section-title {
    font-size: 4rem;
}

@media (max-width: 768px) {

    #about {
        margin-top: 50px; /* Marge en haut de la section */
    }

    #contact-form {
        padding: 15px; /* Réduit les marges */
    }

    .contact-content {
        max-width: 90%; /* Ajuste la largeur */
        padding: 20px; /* Réduit l'espace intérieur */
    }

    /* Ajuste les cartes de tarifs */
    .pricing-card {
        width: 90%; /* Largeur presque complète */
    }

    .typeform-style .btn-primary {
        font-size: 0.9rem; /* Réduit la taille du bouton */
        padding: 10px; /* Ajuste l'espacement */
    }

    /* Arrière-plan pour petits écrans */
    #contact-form::before {
        background-size: 200% 200%; /* Ajuste la taille du dégradé */
    }

    #about img {
        max-width: 75%;
    }

    .contact-content h2.section-title {
        font-size: 1.8rem; /* Réduit la taille du titre */
    }

    .typeform-style {
        min-width: 350px;
      }
}

@media (max-width: 480px) {
    /* Réduction supplémentaire pour les très petits écrans */
    .contact-content {
        padding: 15px;
        max-width: 100%;
    }

    .pricing-card {
        width: 100%;
        margin: 10px 0;
    }

    #contact-form h2.section-title {
        font-size: 2.5rem; /* Réduit la taille du titre */
    }
}

#footer {
    background-color: #ffffff !important;
    color: #000000 !important;
}

#footer .footer-logo img {
    max-width: 200px !important;
}

#footer .footer-links a {
    font-size: 1rem;
    text-decoration: none;
    color: #000000 !important;
    transition: color 0.3s ease;
}

#footer .footer-links a:hover {
    color: #8fc46d;
}

#footer .footer-social a {
    color: #000000 !important;
    margin: 0 10px;
    transition: color 0.3s ease;
}

#footer .footer-social a:hover {
    color: #8fc46d;
}

#footer .footer-text {
    font-size: 0.9rem;
    margin-top: 15px;
}


.navbar.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.navbar.visible {
    opacity: 1;
    visibility: visible;
}